h1{
    font-size: 42px;
    font-family: "VP Next", arial, sans-serif;
}
.span-style{
    font-size: 18px;
    font-family: "VP Next", arial, sans-serif;
}
.main{
    background-color: rgb(212, 206, 206);
}

.container_card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 32px;
}



@media only screen and (max-width: 460px) {
    /* CSS styles here */
    .img{
        width: 380px;
    }
    .span{
        width: 380px;
    }

}

@media only screen and (min-width: 600px) {
    /* CSS styles here */
    .img{
        width: 441px;
    }
    .span{
        width: 441px;
    }
}

.logsection{
    /* background-image: url('../assets/image.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
    background-color: #fff;
}

 /* swiper css */
 .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    /* background: #fff; */
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .card-container{
     display: flex;
     justify-content: center;   
  }

  .card-body{
    text-align: justify;
  }

  .login-signup_section{
    background-color: rgba(0,111,29,255);
    color: #fff;
  }

  .amazon .amzn-ad-container {
    border-top: 2px solid #f90;
    width: auto;
}

#myIframe{
    width: 100%;
}

  @media screen and (min-width: 992px) {
    
    .img-card{
        /* width: 100vw; */
        height: 16vw;
        object-fit: cover;
    }
  }