.header{
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.7)), url('../assets/pexel1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}


h1{
  font-family: 'Gloock', serif;
}

.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;

    /* background: #fff; */
    /* background-image: url('../assets/image4.jpg');
    background-repeat: no-repeat;
    background-size: cover; */

  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    /*object-fit: cover;*/
  }

  .slider-card{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42rem;
    height: 32rem;
    /* background-color: rgba(0,111,29,255); */
    color: #fff;
    margin: 2rem 0;
    padding: 0 2rem;
  }