/**/


.title-logo{
    width: 260px;
    object-fit: cover;
    height: 60px;
    padding-top: 5px;
    padding-bottom: 0;
}

.navbar{
    background-color: rgba(0,111,29,255);
}

.barre-de-navigation{
    padding: 10px;
    background: #fff;
}

.logo-name{
    color: green;
}
.research-input{
    padding: 10px 23px;
    outline: none;
    border-radius: 50px;
    outline: none;
    border: solid black 1.5px;
}

.btn-search{
    padding: 10px 23px;
    outline: none;    
}

.navBtn{
    background-color: white;
}

.navBtn a{
    border: solid green 1.5px;
    border-radius: 50px;
    padding: 16px 20px;
    font-size: 16px;
    text-decoration: none;
    color: green;
    /* background-color: green; */
    transition: all 0.3s ease-in-out;
}

.navBtn a:hover{
  
    color: #fff;
    background-color: green; 
}

/* #navs{
    border-radius: 50px;
    padding: 16px 20px;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    background: rgba(0,0,0,0.7);
    transition: all 0.3s ease-in-out;
}

#navs:hover{
    border-radius: 50px;
    padding: 16px 20px;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    background-color: green;
} */

.isActive{
    border-radius: 50px;
    padding: 16px 20px;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    background-color: red;
    transition: all 0.3s ease-in-out;
}

.isInActive{
    border-radius: 50px;
    padding: 16px 20px;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    background: rgba(0,0,0,0.7);
    transition: all 0.3s ease-in-out;
}

.isInActive:hover{
    border-radius: 50px;
    padding: 16px 20px;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    background-color: green;
}

.menu{
    border-top: 2px solid #000;
    background-color: #fff;
    box-shadow: #000 0px 0px 10px 0px;
    object-fit: contain;
    height: min-content;
}

.menu_link{
    color: green;
    border-bottom: #fff solid 6px;
    transition: ease-in-out 0.2s;
}

.menu_link:hover{
    border-bottom: #000 solid 6px;
}

.bottom-navbar{
    border-top: solid #fff 1px;
    border-bottom: solid #fff 1px;
    background-color: rgba(0,111,29,255);
}

.bottom-navbar a{
    padding: 0.7em;
    text-decoration: none;
    color: #fff;
    transition: 0.5ms;
    overflow: auto;
}

.bottom-navbar a:active{
    padding: 0.7em;
    text-decoration: underline;
    color: #000;
}

.bottom-navbar a:hover{
    text-decoration: none;
    color: #000;
    background-color: #fff;
}

.navbarMenu{
    padding: 6rem 4rem;
    width: fit-content;
    height: fit-content;
    position: absolute;
    background-color: #fff;
    color: #000;
    top: 5%;
    left: 0;
}

.button-close{
    cursor: pointer;
    position: absolute;
    right: 12px;
    top: 5px;
}



@media screen and (max-width: 480px) {
    
    .research-btn{
        display: none;
    }
    
    .research-input{
        display: none;
    }
    
    .isInActive{
        display: none;
    }
    
}

